[submodule "iframe-phone"]
	path = iframe-phone
	url = https://github.com/concord-consortium/iframe-phone.git
[submodule "shutterbug.js"]
	path = shutterbug.js
	url = https://github.com/concord-consortium/shutterbug.js.git
